:root{
    --brand-color: #FFB742;
    --text-color: #fff;
    --btn-text: #212529;
    --bg: #212529;
    --card-shadow:5px 10px 5px 0px rgba(230,198,198,0.75);
    --card-dark-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.295);
    --btn-shadow: 5px 5px 5px 0px rgba(230,198,198,0.75);
    --btn-dark-shadow:5px 5px 5px 0px rgba(0,0,0,0.275);
    --input-color: #292B2E;
    --input-border: #292B2E;
    --header-dark-shadow: 5px 0px 5px 0px rgba(26, 23, 23, 0.75);
    --header-shadow: 5px 0px 5px 0px rgba(230, 198, 198, 0.75);
   /* white border  1px solid rgb(240, 236, 236); */
}


